@font-face {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/allura-latin-400-normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  margin: 0;
  background-color: #d5ffe0;
}

.homeLink {
  display: flex;
  color: black;
  text-decoration: none;
}

.logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
}

.siteName {
  font-family: Allura, "Lucidia Calligraphy", cursive;
  font-style: normal;
  font-weight: 400;
  margin: 8px 0 0;
}

.mainBar {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 60px;
  background-color: #a8ffbe;
  justify-content: space-between;
  padding: 4px;
  box-sizing: border-box;
}

@media (min-aspect-ratio: 1/1) and (min-width: 700px) {
  .mainBar {
    background: red;
  }
}
@media (max-aspect-ratio: 1/1) and (min-width: 700px) {
  .mainBar {
    background: blue;
  }
}
.bannerImg {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.bannerDesc {
  color: #fff;
  font-size: 5.5vw;
  margin: 0;
  align-self: center;
  text-shadow: 0 0 0.5vw #000;
}

@media (max-width: 600px) {
  .bannerDesc {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
  }
}
.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 80px;
}

a.article {
  min-height: 300px;
  max-height: 40vh;
  width: calc(25% - 15px);
  max-width: 30vw;
  border: 2px solid black;
  border-radius: 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  padding: 4px;
}
a.article:hover {
  transform: translateY(-2px);
}

.articleDesc {
  padding: 4px;
}

.articleImg {
  width: 80%;
  height: 40%;
  align-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 8px;
}

.fakeLink {
  cursor: not-allowed;
}

.contactMain {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}

.contactFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-self: flex-start;
  padding-bottom: 20px;
}

.contactHeader {
  margin: 0 0 1.33em;
}

.pageList {
  padding: 20px 80px;
}

.shopMain {
  display: flex;
  flex-direction: row;
  padding: 20px 80px;
  gap: 20px;
}

.itemsHeader {
  display: flex;
  flex-wrap: nowrap;
}
.itemsHeader h2 {
  flex: 1 1 auto;
  margin-top: 0;
}

.itemsOptions {
  float: right;
}

.list, .grid {
  display: flex;
  gap: 10px;
}

.list {
  flex-direction: column;
  flex-wrap: nowrap;
}
.list .shopItem {
  height: 120px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.list .itemImg {
  flex: 0 0 auto;
  max-height: 100px;
  max-width: 100px;
}

.grid {
  flex-direction: row;
}
.grid .shopItem {
  flex-direction: column;
  height: 400px;
  width: 400px;
}
.grid .itemImg {
  height: 250px;
  width: auto;
  align-self: center;
}
.grid .itemNameContainer {
  order: 1;
}
.grid .itemPrice {
  order: 0;
}
.grid .itemAdd {
  order: 2;
}
.grid .itemModel {
  float: right;
}

.shopItem {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  border-radius: 16px;
}

.itemNameContainer {
  flex: 1 1 auto;
}

.itemName {
  max-height: 100px;
}

.itemModel {
  color: #333;
  font-size: 12px;
  font-style: italic;
}

.shopItemsContainer {
  flex: 1 1 auto;
}

.filters {
  flex: 0 0 100px;
  background-color: rgba(119, 119, 119, 0.0666666667);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.layoutToggleIconContainer {
  display: flex;
  cursor: pointer;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  align-self: center;
  padding-right: 10px;
}

.layoutToggleIcon {
  display: inline-flex;
  gap: 4px;
}
.layoutToggleIcon > div {
  display: inline-flex;
  gap: 4px;
  flex-direction: column;
}
.layoutToggleIcon > div::before, .layoutToggleIcon > div::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 3px;
}

#layoutToggle {
  display: none;
}
#layoutToggle:checked + label > div {
  flex-direction: column;
  gap: 2px;
}
#layoutToggle:checked + label > div > div {
  gap: 2px;
}
#layoutToggle:checked + label > div > div::before, #layoutToggle:checked + label > div > div::after {
  width: 20px;
  height: 4px;
}

.faqTable {
  border: 2px solid black;
  border-collapse: collapse;
}
.faqTable td, .faqTable th {
  border: 1px solid black;
}
.faqTable th {
  text-align: left;
}

.faqList {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 80px;
  gap: 20px;
}

.faqQWrapper {
  border: 1px solid black;
  padding: 4px 4px 4px 10px;
  border-radius: 16px;
}

.faqCheckbox {
  display: none;
}
.faqCheckbox:checked + .faqQHeader .dropdownIconContainer {
  transform: rotate(180deg);
}
.faqCheckbox:checked ~ .faqA {
  display: inline-block;
  height: auto;
}

.faqQHeader {
  width: 100%;
}

.faqA {
  display: none;
  height: 0;
  width: 100%;
  border-top: 1px solid black;
  margin: 0 -4px 0 -10px;
  padding: 0 4px 0 10px;
}

.dropdownIconContainer {
  display: flex;
  cursor: pointer;
  height: 23px;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  align-self: center;
}

.dropdownIcon {
  position: relative;
  top: -4px;
  z-index: -1;
}
.dropdownIcon::before, .dropdownIcon::after {
  content: "";
  display: block;
  background: #000;
  width: 10px;
  height: 2px;
  position: relative;
}
.dropdownIcon::before {
  left: 3px;
  transform: rotate(-45deg);
  bottom: -5px;
}
.dropdownIcon::after {
  right: 3px;
  bottom: -3px;
  transform: rotate(45deg);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menuContainer {
  transform: rotate(0deg);
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 0;
  position: absolute;
}
.menu > a {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #000;
  background: #61c67b;
  overflow: hidden;
  align-items: center;
  padding: 0 4px;
}

.menuIconContainer {
  display: flex;
  cursor: pointer;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  align-self: center;
  padding-right: 10px;
}

.menuIcon, .menuIcon::before, .menuIcon::after {
  display: block;
  background: #000;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
}
.menuIcon::before {
  content: "";
  margin-top: -8px;
}
.menuIcon::after {
  content: "";
  margin-top: 8px;
}

#menuToggle {
  display: none;
}
#menuToggle ~ div > a {
  height: 0;
  border: 0;
}
#menuToggle:checked + label > div {
  background: rgba(0, 0, 0, 0);
}
#menuToggle:checked + label > div::before {
  margin-top: 0;
  transform: rotate(45deg);
}
#menuToggle:checked + label > div::after {
  margin-top: 0;
  transform: rotate(-45deg);
}
#menuToggle:checked ~ div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  right: 1px;
  top: 56px;
}
#menuToggle:checked ~ div > a {
  height: 2.5em;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#menuToggle:checked ~ div > a:first-child {
  border-top: none;
}
#menuToggle:checked ~ div > a:last-child {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */